body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:unset;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: brown;
}
.header {
    color: white;
    text-transform: uppercase;
}

.content {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 20px;
    justify-content: space-around;
}

.verticalline {
    width: 2px;
    height: 100%;
    background-color: black;
    border: none;
}


.column1 {
    flex: 2;
    margin: 10px;
    background-color: lightgrey;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.column2 {
    flex: 3;
    margin: 10px;
    background-color: aqua;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header1 {
    text-align: center;
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    font-size: medium;
    height: 500px;
    background-color:#f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #f3f3f3;
}
.form::-webkit-scrollbar {
    width: 8px;
}
.form::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
}
.form::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
label{
    text-transform: uppercase;
}

input {
    width: 200px;
    height: 30px;
}

.row:nth-child(odd){
    align-self: flex-start;
}
.row:nth-child(even){
    align-self: flex-end;
}
.row2 {
    display: flex;
}
button{
    cursor: pointer;
}
