body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #282c34;
    color: white;
}

.timer-container {
    margin-top: 100px;
}

h1 {
    font-size: 50px;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startPause {
    background-color: #28a745;
    color: white;
}

#reset {
    background-color: #dc3545;
    color: white;
}
